@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');


:root {
    --main-font: 'Space Mono', monospace;

    /* Primary */

    --strong-cyan: hsl(172, 67%, 45%);

    /* Neutral */

    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

body {
    background-color: var(--grayish-cyan);
    font-family: var(--main-font);
}

h1 {
    text-align: center;
}

.container {
    background-color: var(--white);
    /* height: 60vh; */
    display: flex;
    flex-direction: column;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 1.5em;
}

.bill-info {
    display: flex;
    flex-direction: column;
}

.percent--values {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: .75em;
    margin: .5em auto;
}

.percent label {
    background-color: var(--very-dark-cyan);
    color: var(--white);
    padding: .5em 1.75em;
    border-radius: 5px;
    text-align: center;
}

label[for="custom"] {
    background-color: var(--light-grayish-cyan);
    color: var(--dark-grayish-cyan);
}

label[for="bill"], label[for="numPeople"], h2 {
    color: var(--dark-grayish-cyan);
    margin: .75em 0;
}

.bill-results {
    background-color: var(--very-dark-cyan);
    padding: 1.5em;
    border-radius: 15px;
}

.percent input {
    display: none;
}